.section-contact{
    width: 100%;
    height: fit-content;
    overflow: hidden;
    position: relative;
    padding: 5vh 3vh 20vh;
    box-sizing: border-box;
}

.main-contact{
    width: fit-content;
    position: relative;
    margin-top: -15%;
    margin-left: 10%;
    z-index: 30;
}

.contact{
    border-left: var(--theme-color) solid 1px;
    font-family: var(--font-family);
    font-size: var(--text-size);
    color: var(--text-color);
    padding: 1vh 2vw;
    display: flex;
    align-items: center;
}

a{
    color: var(--theme-color);
    cursor: pointer;
}

.contact>img{
    height: 20px;
    margin-right: 3vw;
}

@media screen and (max-width: 725px) {
    .contact-main{
        margin-left: 0;
    }

    .contact{
        padding-bottom: 2vh;
        }

    .contact>img{
        height: 30px;
    }
    img{
        margin-left: 3vw;
    }
}

@media screen and (max-width: 400px) {
    .main-contact{
        width: 80%;
        box-sizing: border-box;
    }
}