.section-tech{
    height: fit-content;
    padding: 5vh 0 20vh ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: var(--font-family);
}

.tech{
    width: fit-content;
    font-family: var(--font-family);
    color: var(--text-color);
    position: absolute;
    z-index: 30;
    color: var(--theme-color);
    font-size: 4vh;
    padding: 5vh 0 0 0;  
}

.text{
    width: 100vw;
    cursor: pointer;
    text-align: center;
    z-index: 20;
    flex-wrap: wrap;
    font-weight: 100;
    color: rgba(128, 128, 128, 0.187);
    font-size: 10vh;
    opacity: 0.1;
    max-height: 6vh;
}

.text:hover{
    opacity: 1;
}

.box-tech{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 4vh 0;
}

@media screen and (max-width: 720px) {

    .text{
        font-size: 5vh;
        margin: 2vh 0;
        width: 80%;
    }


    .section-tech{
        margin: 0vh 0 10vh;
    }
    
}